/* line 11, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 15, ../sass/style.scss */
body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
/* line 21, ../sass/style.scss */
body h1 {
  color: #000;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 27, ../sass/style.scss */
body h2 {
  color: #77a466;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 33, ../sass/style.scss */
body h3 {
  color: #000;
  font-size: 1 em;
  text-transform: uppercase;
  font-weight: 400;
}
/* line 39, ../sass/style.scss */
body p {
  color: #white;
  font-size: 1em;
  font-weight: 400;
}

/* line 47, ../sass/style.scss */
header {
  width: 100%;
  margin: 0 auto;
}
/* line 50, ../sass/style.scss */
header span {
  color: #77a466;
}
/* line 53, ../sass/style.scss */
header ul {
  list-style: none;
}
/* line 56, ../sass/style.scss */
header li {
  float: right;
  margin: 40 20px;
}

/* line 63, ../sass/style.scss */
nav .title {
  float: left;
  padding-top: 20px;
}
/* line 68, ../sass/style.scss */
nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #fff;
}
/* line 76, ../sass/style.scss */
nav li {
  float: right;
}
/* line 78, ../sass/style.scss */
nav li a {
  display: inline-block;
  color: #77a466;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 700;
}
/* line 88, ../sass/style.scss */
nav li a:hover {
  background-color: #111;
}

/* line 94, ../sass/style.scss */
.thank-you-top-section {
  text-align: center;
}

/* line 99, ../sass/style.scss */
.top-section {
  margin-bottom: 20px;
  width: 100%;
  margin: 0 auto;
}
/* line 104, ../sass/style.scss */
.top-section img {
  border-top: 3px solid #77a466;
  border-bottom: 3px solid #77a466;
}

/* line 111, ../sass/style.scss */
.section-wrap {
  width: 32%;
  float: left;
  padding-left: 10px;
}
/* line 116, ../sass/style.scss */
.section-wrap ul {
  color: #77a466;
  font-weight: 400;
  list-style-type: none;
}
/* line 121, ../sass/style.scss */
.section-wrap li {
  line-height: 32px;
}

/* line 126, ../sass/style.scss */
.bottom-section {
  width: 100%;
  border-top: 1px solid #dedbdc;
  border-bottom: 1px solid #dedbdc;
  margin-top: 75px;
}

/* line 133, ../sass/style.scss */
footer {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
/* line 138, ../sass/style.scss */
footer span {
  color: #77a466;
  font-family: "Wisdom Script", script;
  text-transform: lowercase;
}
